

<form id="form1">
    <div>
        <div>
            <span>ID:</span>
            <input type="text" id="uid" name="uid" value="" class="form-control" />
            <input type="button" id="sendmessage" value="Send" class="btn btn-primary" />
            <input type="button" id="disconnect" value="Disconnect" class="btn btn-primary" />
        </div>
        <ul id="messages"></ul>
    </div>
</form>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            // Proxy created on the fly
            var conn = $.connection.serverPushHubs;
            // Declare a function so the server can invoke it
            conn.client.newMessage = function (msg) {
                $('#messages').append('<li>' + msg + '</li>');
            };
            conn.client.notify = function (notice) {
                $('#messages').append('<li>[system notice]:\t' + notice + '</li>');
            }
            // Start the connection
            $.connection.hub.start();
            //call server side refresh when all things ready
            $("#sendmessage").click(function () {
                conn.server.refreshTimeline($('#uid').val());
            });

            $("#disconnect").click(function () {
                conn.server.disconnect();
            });
        });
    </script>
}
